@import '../../assets/style/style.scss';

section {
    .teacher-page {
        height: 70vh;
    }

    .list-title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }


}