@import '../../assets/style/style';

footer {
    .footer-bg {
        background-color: $background-navbar-primary;
    }

    .footer-text,
    .footer-text-slogan {
        font-size: 16px;
        color: $background-navbar-secondary;

    }

    .footer-text:hover {
        text-decoration: none;
        color: $btn-primary;
        font-size: 18px;

    }

    .footer-img{
        width: 100px;
        height: 100px;
        margin-left: 20px;
        display: inline-block;
    }
}